.#*
*~

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

#oasis artifacts
_build
*.mllib
*.mldylib
*.clib
META
setup.log
setup.ml
setup.data
README.txt
AUTHORS.txt
INSTALL.txt
configure
Makefile